DEBUG=true
SECRET_KEY=mindease-dev-secret-key
MONGO_URI=mongodb://adjeteynii74_db_user:mindease2026@ac-cbrjazo-shard-00-00.ubtdr0d.mongodb.net:27017,ac-cbrjazo-shard-00-01.ubtdr0d.mongodb.net:27017,ac-cbrjazo-shard-00-02.ubtdr0d.mongodb.net:27017/mindease?ssl=true&replicaSet=atlas-yfxk27-shard-0&authSource=admin&appName=Cluster0
CORS_ORIGINS=http://localhost:5173,http://localhost:5174
OPENROUTER_API_KEY=your-openrouter-api-key-here
OPENROUTER_MODEL=meta-llama/llama-3.3-70b-instruct:free